ul{
  list-style-type: none;
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.centerer {
  width: 100%;
  max-width: 1200px;
}